// fonts
$general-ff-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$general-ff-ekibastuz: "Ekibastuz", "Helvetica Neue", Helvetica, Arial, sans-serif;

$general-font-size: 16px;

$general-font-line-height: 1.2;

$general-font-weight: normal;
$general-font-weight-bold: bold;
$general-font-weight-light: 300;

$general-vertical-step-smallXX: 5px;
$general-vertical-step-smallX: 10px;
$general-vertical-step-small: 15px;
$general-vertical-step-normal: 20px;
$general-vertical-step-large: 25px;
$general-vertical-step-largeX: 30px;
$general-vertical-step-largeXX: 35px;
$general-vertical-step-largeXXX: 50px;

$general-transition: all .4s ease;
$general-border-radius: 4px;

//  Стилеобразующие элементы услуг
$familyAndChildren: #5bbdbd;
$transportAndDriving: #2d7daf;
$passportAndRegistration: #c22253;
$taxesAndFinances: #882b80;
$apartmentAndLand: #008e64;
$pensionAndBenefits: #60bc46;
$business: #75808b;
$education: #f5831f;

$color-steps-theme: (transportAndDriving: $transportAndDriving, primary: #6ba9d2);

//color
$scotch-color-key: 'base' !default;

$primary: #0063B0; //первичный-основной
$secondary: #e6f4fc; //вторичный
$accent: #e90e3f; //акцент-ударение
$shadowForm: #bfe5ff;

$section-1: #28a9b1;
$section-5: #b40037;
$section-3: #2d7daf;
$section-4: #119142;
$section-2: #75136e;

$danger: #d9534f;
$warning: #f0ad4e;
$success: #5cb85c;
$info: #9dd6fd;
$general-opacity: ( 'darker': 0.8, 'dark': 0.6, 'light': 0.4, 'lighter': 0.2);
$text-base: #000000;
$general-pallet: (
  'shadowForm': (
    'base': $shadowForm,
    'dark': mix(black, $shadowForm, 30%),
    'light': mix(white, $shadowForm, 30%),
  ),
  'info': (
    'base': $info,
    'dark': mix(black, $info, 30%),
    'light': mix(white, $info, 30%),
  ),
  'primary': (
    'base': $primary,
    'dark': mix(black, $primary, 30%),
    'light': mix(white, $primary, 30%),
  ),

  'secondary': (
    'base': $secondary,
    'dark': mix(black, $secondary, 30%),
    'light': mix(white, $secondary, 30%),
  ),

  'accent': (
    'base': $accent,
    'dark': mix(black, $accent, 30%),
    'light': mix(white, $accent, 30%),
  ),

  'danger': (
    'base': $danger,
    'dark': mix(black, $danger, 30%),
    'light': mix(white, $danger, 30%),
  ),

  'warning': (
    'base': $warning,
    'dark': mix(black, $warning, 30%),
    'light': mix(white, $warning, 30%),
  ),

  'success': (
    'base': $success,
    'dark': mix(black, $success, 30%),
    'light': mix(white, $success, 30%),
  ),

  'black': (
    'base': #000000,
  ),

  'white': (
    'base': #ffffff,
    'dark': mix(black, #ffffff, 30%),
  ),

  'text': (
    'black': lighten($text-base, 0%), // #000
    'darker': lighten($text-base, 13.5%), // #222
    'dark': lighten($text-base, 20%), // #333
    'base': lighten($text-base, 33.5%), // #555
    'light': lighten($text-base, 46.7%), // #777
    'lightGray': lighten($text-base, 60%), // #999
    'lighter': lighten($text-base, 93.5%), // #eee
    'white': lighten($text-base, 100%), // #fff
  ),
);
